/* CSS files add styling rules to your content */
body {
    overflow: hidden !important;
}

h1{
    text-align: center;
    font: bold;
}

h5 {
    text-align: center;
    font: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

}