@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/main.scss';

@font-face {
    font-family: "Berlin Type";
    src: url("BerlinType-Bold.ttf");
    font-weight: 700;
}

 @font-face {
    font-family: "Antonym";
    src: url("Antonym-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Antonym";
    src: url("Antonym-Regular-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}


body {
    display: flex;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

h1{
    overflow-y: hidden !important;
    text-align: center;
    font: bold;
}

h5 {
    display: flex;
    text-align: center;
    font: bold;
}
