@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/main.scss';


body {
    display: flex;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

h1{
    overflow-y: hidden !important;
    text-align: center;
    font: bold;
}

h5 {
    display: flex;
    text-align: center;
    font: bold;
}
